<div class="modal container">
        <div class="form-group">
            <label for="name">Name</label>
            <input 
            required
            minlength=4
            [(ngModel)]="form.name"
            type="text">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input 
            [(ngModel)]="form.phone"
            type="number">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input
            [(ngModel)]="form.city"
             type="text">
        </div>
        <div class="form-group">
            <label for="address_line1">Address1</label>
            <input 
            [(ngModel)]="form.address_line1"
            type="text">
        </div>
        <div class="form-group">
            <label for="address_line2">Address2</label>
            <input type="text"
            [(ngModel)]="form.address_line2">
        </div>
        <div class="form-group">
            <label for="postal_code">Postal Code</label>
            <input type="text"
            [(ngModel)]="form.postal_code">
        </div>
        <div class="form-group">
            <button class="add-button" (click)="onAdd()">{{(isEditable) ? 'Save' : 'Add'}}</button>
        </div>
</div>